header {
  --logo-width: 175px;
  --logo-height: 32px;
  --mega-columns: 3;
  --topbar-height: 40px;

  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  overflow: hidden;
  max-height: calc(var(--header-height) + var(--topbar-height));
  background-color: var(--color-white);
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li,
  p {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: var(--color-dark-text);
  }

  .header-content {
    display: grid;
    grid-template-areas:
      "topbar"
      "brand"
      "nav"
      "actions";
    grid-template-rows: var(--topbar-height) var(--header-height) auto 1fr;
  }

  .topbar-section {
    grid-area: topbar;
    border-bottom: 1px solid var(--color-gray-200);

    > .default-content {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: var(--topbar-height);
      max-width: var(--grid-container-width);
      margin: 0 auto;
      padding: 0 16px;
    }

    ul {
      display: flex;
      gap: 24px;
      align-items: center;
    }

    li {
      margin: 0;
    }

    a {
      display: flex;
      align-items: center;
      gap: 6px;
      font-size: 13px;
      font-weight: 700;
      color: var(--color-dark-text);
      text-transform: uppercase;
      letter-spacing: 0.5px;
      white-space: nowrap;
    }

    a:hover {
      color: var(--color-honeywell-blue);
    }

    .icon {
      width: 16px;
      height: 16px;
    }
  }

  .action-wrapper {
    position: relative;
    height: 100%;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      padding: 0;
      background-color: transparent;
      height: 100%;
      width: 48px;
      cursor: pointer;

      .icon {
        width: 24px;
        height: 24px;
      }

      .text {
        display: block;
        width: 0;
        height: 0;
        overflow: hidden;
      }
    }
  }

  .breadcrumbs {
    display: none;
  }

  .menu,
  .mega-menu {
    padding-bottom: 16px;

    .default-content {
      margin: 0;

      > :first-child {
        margin-top: 0;
      }

      > :last-child {
        margin-bottom: 0;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin-block: 8px;
    }

    li a {
      font-size: 14px;
      font-weight: 500;
      color: var(--color-dark-text);
      padding: 4px 0;
      display: block;
    }

    li a:hover {
      color: var(--color-honeywell-blue);
    }

    .section {
      margin-block: 16px;
    }

    &.language {
      max-width: var(--grid-container-width);
      margin: 0 auto;

      .section {
        margin: 0;
      }
    }
  }

  .brand-section {
    grid-area: brand;

    .default-content {
      height: var(--header-height);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 16px;

      p,
      a {
        display: flex;
        align-items: center;
        position: relative;
        font-size: var(--heading-font-size-m);
        font-weight: 700;
        text-decoration: none;
        margin: 0;
        color: var(--color-dark-text);

        img,
        svg {
          width: var(--logo-width);
          height: var(--logo-height);
        }

        .brand-text {
          display: block;
          width: 0;
          height: 0;
          overflow: hidden;
        }
      }
    }

    .action-wrapper {
      right: -12px;
    }
  }

  .actions-section {
    grid-area: actions;
    max-height: 64px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;

    > .default-content {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 8px;
      padding: 0 16px;

      a {
        font-size: 13px;
        font-weight: 700;
        color: var(--color-honeywell-blue);
        text-transform: uppercase;
        white-space: nowrap;
      }

      a:hover {
        color: var(--color-honeywell-blue-dark);
      }
    }

    > .block-content {
      border-bottom: 1px solid var(--color-gray-200);
    }

    .action-wrapper {
      height: var(--header-height);
      right: -8px;

      button {
        width: 44px;
      }
    }

    &.is-open {
      overflow: scroll;
      max-height: 100%;
    }
  }

  .main-nav-section {
    grid-area: nav;

    .default-content {
      max-width: 100%;
      margin: 0;
    }

    .main-nav-item {
      border-bottom: 1px solid var(--color-gray-200);

      > * {
        max-width: var(--grid-container-width);
        margin: 0 auto;
        padding: 0 16px;
      }
    }

    .main-nav-link {
      display: block;
      line-height: 48px;
      font-size: 14px;
      font-weight: 900;
      color: var(--color-dark-text);
      text-transform: capitalize;
    }

    .main-nav-link:hover {
      color: var(--color-honeywell-blue);
    }

    .menu,
    .mega-menu {
      display: none;
    }

    .is-open {
      .main-nav-link {
        border-bottom: 1px solid var(--color-gray-200);
        color: var(--color-honeywell-blue);
      }

      .menu,
      .mega-menu {
        display: block;
      }
    }
  }

  &.is-mobile-open {
    height: initial;
    max-height: initial;
    overflow: initial;
    bottom: 0;

    .header-content {
      height: 100%;
    }

    .brand-section {
      border-bottom: 1px solid var(--color-gray-200);
    }
  }
}

@media (width >= 900px) {
  header {
    overflow: initial;

    .header-content {
      max-width: var(--grid-container-width);
      margin: 0 auto;
      grid-template:
        "topbar topbar topbar" var(--topbar-height)
        "brand nav actions" var(--header-height)
        / auto 1fr auto;
      gap: 0 24px;
      padding: 0 16px;
    }

    .topbar-section {
      border-bottom: 1px solid var(--color-gray-200);

      > .default-content {
        max-width: initial;
        margin: 0;
        padding: 0;
        justify-content: flex-end;
      }
    }

    .menu,
    .mega-menu {
      background-color: var(--color-white);
      padding: 24px 0;
      position: absolute;
      left: 0;
      right: 0;
      box-shadow: 0 4px 12px rgb(0 0 0 / 10%);
      border-top: 1px solid var(--color-gray-200);

      &.language {
        display: none;
        max-width: initial;
        margin: 0;
        width: 180px;
        background-color: var(--color-white);
        padding: 24px;
        position: absolute;
        left: auto;
        right: 0;
        z-index: 1001;
      }
    }

    .mega-menu {
      > .fragment-content {
        display: grid;
        grid-template-columns: repeat(var(--mega-columns), 1fr);
        max-width: var(--grid-container-width);
        margin: 0 auto;

        .section {
          margin-block: initial;
        }
      }
    }

    .brand-section {
      border-bottom: initial;

      .default-content {
        max-width: initial;
        margin: 0;
        padding: 0;
      }

      .action-wrapper.more {
        display: none;
      }
    }

    .main-nav-section {
      .main-nav-list {
        display: flex;
        gap: 24px;
        align-items: center;
        height: 100%;
      }

      .main-nav-item {
        border-bottom: initial;
        height: 100%;
        display: flex;
        align-items: center;

        > * {
          max-width: initial;
          margin: initial;
          padding: 0;
        }

        &.is-open {
          .main-nav-link {
            border-bottom: initial;
          }
        }
      }

      .main-nav-link {
        line-height: var(--header-height);
        font-size: 14px;
        position: relative;
      }

      .main-nav-link::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 3px;
        background-color: var(--color-honeywell-blue);
        transform: scaleX(0);
        transition: transform 0.2s ease;
      }

      .main-nav-link:hover::after,
      .is-open .main-nav-link::after {
        transform: scaleX(1);
      }
    }

    .actions-section {
      position: relative;
      overflow: initial;

      .default-content {
        max-width: initial;
        margin: 0;
        padding: 0;
        height: 100%;
      }

      .action-wrapper {
        position: relative;
        right: -10px;
      }

      .block-content {
        border-bottom: initial;
      }

      &.is-open {
        overflow: initial;

        .menu.language {
          display: block;
        }
      }
    }

    &.is-mobile-open {
      bottom: initial;

      .header-content {
        height: initial;
      }
    }
  }
}
